<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<h1>Welcome '<span th:text="${user}"></span>'</h1>
<p>Hello '<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>'</p>
<p th:each="authority : ${#authentication.getAuthorities()}"
   th:if="${authority.getAuthority().startsWith('ROLE_')}"
   th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}">
</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>